@mixin flex($flex-direction: row, $justify-content: flex-start, $align-items: center, $align-content: center) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}